body{
    background-color: #0D0D0E;
}

.templateContainer {
    display: flex;
    flex-direction: column;
    font-family: "Atlas Grotesk", sans-serif;
  }
#header{
    display: flex;
    align-items: start; /* Aligner les images en haut */
    flex-direction: row;
}
#headerLogo{
    width: 6em;
}
#headerButtons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.homeButton{
    padding: 2em;
}
#contactButton{
    margin: 2em;
}
.imageRack{
 display: flex;
}
.point{
    width: 2em;
    height: 2em;
    border-radius: 1em;
    border: #FFAF47;
    background-color: #3C3C3C;
}
.activePoint{
    background-color:#FFAF47;
}
.titreDiv{
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 7em;
}
.titreTxt{
    color: white;
}